$black:black;
$color1:rgb(83, 82, 82);
$color2:rgb(104, 101, 101);
$silver:silver;
$color3:rgb(243, 47, 210);
$white:white;
$forthsec:rgba(85, 82, 82, 0.938);
$mainbiobg:rgba(192, 192, 192, 0.137);
$mainbioa:rgba(85, 82, 82, 0.938);
$navborderbtm:rgb(245, 92, 181);
$navmenuclr:rgb(37, 36, 36);